@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #302C42;
  padding: 10px 6%;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  
  button{
    margin: 0px;
  }
}